<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    <style>
        h1 {
            font-family: 'Jua', sans-serif;
        }
        body{
            font-family: 'Jua', sans-serif;
        }
        mark{
            background-color:rgba(255,0,0,0.2);
        } 
    </style>
</head>

<div class="container">
<body>
    <br>
    <h1>당신이 입력한 텍스트는 <mark>{{ total }}단어</mark>로 구성되어 있습니다.</h1>
    <hr>
    <h2>입력한 텍스트: </h2>
    <!-- 입력받은 전체 텍스트 -->
    {{ fulltext }}

    <h2>단어 카운트:</h2>
    <!-- '단어' - '단어나온 횟수' -->
    {% for word, countTotal in dictionary %}
    {{ word }} - {{ countTotal }}
    <br>
    {% endfor %}
    <a class="btn btn-success" href="{%url 'home' %}" role="button">다시하기</a>

</body>
</div>