<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    
    <style>
    h1 {
        font-family: 'Jua', sans-serif;
    }
    body{
        font-family: 'Jua', sans-serif;
    }
    </style>
    
</head>
    
<div class="container">
<br>
<h1>또 다른 작업들을 해봐요</h1>
<hr>
<body>
    <a class="btn btn-warning" href="http://speller.cs.pusan.ac.kr/" role="button">맞춤법 검사하기</a>
    <br><br>
    <a class="btn btn-warning" href="https://kr.123rf.com" role="button">어울리는 일러스트 찾기</a>
    <hr>
    <a class="btn btn-danger" href="{%url 'home' %}" role="button"> HOME으로 돌아가기</a>
</body>
</div>